.section1border{
    display: flex;
    margin: 2%;
}

.div1{
    margin-top: 5%;
}

.div1h1{
    font-size: 50px;

}
.div2{
    padding-left: 15%;
}

.div3{
    margin-top: 5%;
    padding-left: 15%;
}
.div4{
    padding-left: 15%;
    margin-top: 8%;
}

.div5{
    text-align: center;
    margin-top: 5%;
}

.section2border{
    display: flex;
    background:url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;
}

.button{
    color:white;
    background: orange;
    background-image: linear-gradient(orange,Tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 500;
}

.recipies{
    color: gray;
}
.foot{
    text-align: center;
    background: black;
    padding: 2%;
    

}
.footer-food{
    color: orange;
}
#foot-text-color{
    color:white;
}

.network{
    color:gray;
}

.border{
    display: flex;
    margin: 10%;
    margin-top: 3%;

}
.item1{
    box-shadow: gray 10px 10px 30px;
    width: 300px;
    border: 15px;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    
}


.bonus-border{
    box-shadow: 1px 1px 5px gray;
    display: flex;
    margin: 10%;
    margin-left: 11%;
    border-radius: 15px;
    
}
.bonus-item{
    width: 500px;
    padding: 20px;
    margin: 40px;
    text-align: center;
    
}
body{
    font-family: 'Otomanopee One', sans-serif;
}
